footer.footer
    .container 
        .footer__content
            a(href="#").logo.logo--white
            p.footer__note Маркировка упоминаний иностаных агентов и нежелательных организации в ваших текстах.