header.header
    .container.header__container
        .header__left
            a(href="/").logo
            h1.header__note
                | Маркировка упоминаний иностаных агентов и нежелательных организации в ваших текстах.
        .header__right
            .user-card
                .user-card__text
                    a(href="#").user-card__admin-panel Панель управления
                    a(href="#").user-card__name Иванов Иван Иванович
                    .user-card__links
                        a(href="#") Настройки
                        a(href="#") Выйти
                button(style="background-image:url('img/default-avatar.jpg')").user-card__avatar
                    .user-card__status админ
