@import "zeroing-v1.1.scss";
@import "varibles.scss";
@import "general.scss";

@import "blocks/header.scss";

@import "blocks/logo.scss";
@import "blocks/user-card.scss";
@import "blocks/upload-field.scss";
@import "blocks/upload-field.scss";
@import "blocks/btn-1.scss";
@import "blocks/note.scss";
@import "blocks/footer.scss";