.user-card {
    display: flex;
    align-items: center;
    gap: 20px;

    &__avatar {
        background-color: #d9d9d9;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        display: inline-flex;
        border-radius: 100%;
        width: 80px;
        height: 80px;
        align-items: center;
        justify-content: flex-end;
        flex-direction: column;
        @media screen and (max-width: 600px) {
            width: 60px;
            height: 60px;
        }
    }
    &__status{
        font-family: "Inter", sans-serif;
        font-weight: 700;
        font-size: 13px;
        color: $second-color;
        background-color: $second-color-light;
        border: 3px solid #fff;
        border-radius: 7px;
        padding: 2px 5px 4px 5px;
        display: inline-block;
        @media screen and (max-width: 600px) {
            border: 3px solid #fff;
            border-radius: 5px;
            padding: 1px 3px 3px 3px;
            font-weight: 800;
            font-size: 10px;
        }
    }
    &__text{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 4px;
        text-align: right;
        @media screen and (max-width: 600px) {
            display: none;
        }
    }
    &__links{
        display: flex;
        font-weight: 400;
        color: rgba($default_text_color, 0.8);
        gap: 22px;
    }
    &__admin-panel{
        font-weight: 400;
        font-size: 13px;
        color: $second-color !important;
    }
    &__name{
        font-weight: 700;
        min-width: 200px;
    }
}